@media  screen and (min-width:500px) {
    .w-80{
        width: 80% !important;
        height: auto;
    }
    .p-0{
        padding: 0px !important;
    }
    .space-evn{
        justify-content: space-evenly !important;
    }

    .m-0{
        margin: 0 !important;
    }
}