.hide{
    display: none !important;
}

.reveal{
    display: block;
}

.default-container{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    @include flex-center-all;
    // flex-direction: column;
    
    .main-container{
        width: 600px;
        height: calc(100vh - 2rem);
        margin: 1rem;
        border: 5px solid $rev-adapt-color;
        border-radius: 8px;
        @include flex-col(start, center);
        
        .tic-tac-toe-title{
            @include flex-row(center,start);
            margin: 10px 0 0 0
            
        }

        .fixed-container{
            width: 100%;
            height: auto;
            flex: 1 0 0;
            @include flex-col(center, center);
            box-sizing: border-box;
            
            
        }
    }
    
}
